<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <ul class="sidebar-menu">
       <!--  <li class="header">MAIN NAVIGATION</li> -->
        <li><a href="admin/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa fa-cog"></i> <span>Settings</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class=""><a href="/admin/section"><i class="fa fa-language"></i>Sections(Example)</a></li>

            <li class=""><a href="/admin/skill"><i class="fa fa-language"></i>Skill</a></li>                                
            <li class=""><a href="/admin/job-category"><i class="fa fa-language"></i>Job Category</a></li>

            <li class=""><a href="/admin/faq-category"><i class="fa fa-language"></i>Faq Category</a></li>

            <li class=""><a href="/admin/faq"><i class="fa fa-language"></i>Faq</a></li>

            <li class=""><a href="/admin/testimonial"><i class="fa fa-language"></i>Testimonial</a></li>
            <li class=""><a href="/admin/cms"><i class="fa fa-language"></i>Content</a></li>
            <li class=""><a href="/admin/blog-category"><i class="fa fa-language"></i>Blog Category</a></li>
            <li class=""><a href="/admin/blog"><i class="fa fa-language"></i>Blog</a></li>                    

          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>