<div >
<header class="header-about">
    <div class="container">
	    <div class="content">
        <div class="row">
	      <h1 class="revealOnScroll" data-animation="fadeInDown"><i class="fa fa-coffee"></i> About Us</h1>
		    <p>How we grew into what we are today.</p>
        </div><!-- /.row -->
      </div><!-- /.content -->
	  </div><!-- /.container -->
</header><!-- /header -->
	 
     <!-- ==============================================
	 Hello Section
	 =============================================== -->
     
 <section class="hello" id="hello">
	  <div class="container">
	   <div class="row">
	    <div class="col-lg-12" ng-bind-html="about">
		    
        </div><!-- /.col-lg-12 -->
	   </div><!-- /.row -->
	  </div> <!-- /.container -->
</section><!-- End section-->

	 <!-- ==============================================
	 Timeline Section
	 =============================================== -->	  
<section class="time">
	  <div class="container">
	  
	   <h3>Our Timeline</h3>
	   <hr class="mint">
	   <p class="top-p">Our Story told in a few lines.</p>
	   
       <ul class="timeline">
	   
        <li ng-repeat="story in stories" ng-class-odd="''" ng-class-even="'timeline-inverted'">
         <div class="timeline-badge mint"><i class="fa fa-lightbulb-o"></i></div>
         <div class="timeline-panel revealOnScroll" data-animation="slideInLeft" data-timeout="200">
          <div class="timeline-heading">
           <h4 class="timeline-title">{{story.published_date | date:"fullDate"}}</h4>
          </div><!-- /.timeline-heading -->
          <div class="timeline-body">
           <p>{{story.description}}</p>
          </div><!-- /.timeline-body -->
         </div><!-- /.timeline-panel -->
        </li><!-- /li -->
       </ul>
       <!-- /ul.timeline -->
      </div><!-- /.container -->
</section><!-- /section -->

     <!-- ==============================================
	 White Section
	 =============================================== -->		  
<section class="whitebg">
	  <div class="container">
	   <div class="row">
		<div class="col-lg-8 col-lg-offset-2">
		 <h3>We work hard to build a great product that is beautifully designed, simple to use, user friendly with great focus on user experience and customer service.</h3>
		</div><!-- /.col-lg-8 -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
</section><!-- /w -->
	
	 <!-- ==============================================
	 Team Section
	 =============================================== -->	
<section id="team" class="team">
      <div class="container">
       <!-- Title Page -->
       <div class="row text-center">
        <div class="col-lg-12">	   
	     <h3>Our Team</h3>
	     <hr class="mint">
	     <p class="top-p">Our Brilliant and Harworking Team.</p>
        </div><!-- /.col-lg-12 -->
       </div><!-- /.row -->
       <!-- End Title Page -->
       
	   <!-- People -->
       <div class="row">
    	
       <!-- Start Profile -->
        <div class="col-lg-4 profile" ng-repeat="value in team">
         <div class="image-wrap">
          <div class="hover-wrap">
           <span class="overlay-img"></span>
           <span class="overlay-text-thumb">{{value.designation}}</span>                  
          </div><!-- /.hover-wrap -->
          <img src="{{value.image}}" alt="{{value.name}}">         
          </div>
         <!-- /.image-wrap -->
         <h5 class="profile-name">{{value.name}}</h5>
         <p class="profile-description">{{value.description}}</p>
            	
    		 <div class="social">
    		  <ul class="social-icons">
    		   <li><a href="{{value.facebook}}"><i class="fa fa-facebook"></i></a></li>
    		   <li><a href="{{value.twitter}}"><i class="fa fa-twitter"></i></a></li>
    		   <li><a href="{{value.google_plus}}"><i class="fa fa-google-plus"></i></a></li>
    		   <li><a href="{{value.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
    	      </ul>
    		 </div><!-- /.social -->
        </div><!-- /.col-lg-4 -->
	  
       </div>
      </div>
</section>
     <!-- End About Section -->
	
	 <!-- ==============================================
	 Join Section
	 =============================================== -->		  
<section class="join">
	  <div class="container">
	   <div class="row">
	    <div class="col-lg-8 col-lg-offset-2">
		 <h3>Wait what, you want to be a part of the family?</h3>
		 <a href="contact.html" class="kafe-btn kafe-btn-default revealOnScroll" data-animation="bounceIn" data-timeout="400">Yes Let Me In!</a>
		</div><!-- /.col-lg-8 -->
	   </div><!-- /.row -->
	  </div><!-- /container -->
</section><!-- /w -->	
</div>