<div ng-init="blogDetails();">	 
	 <header class="header-blogpage" style="background-image: url({{blog_details.blog_image}}) !important;">
      <div class="container">
	   <div class="content">
       <div class="row">
	    <!-- <h6 class="revealOnScroll" data-animation="fadeInDown"><a href="#">Design</a></h6> -->
		 <h3 class="revealOnScroll" data-animation="slideInRight" data-timeout="200">{{blog_details.blog_name}}</h3>
       </div><!-- /.row -->
      </div><!-- /.content -->
	  </div><!-- /.container -->
     </header><!-- /header -->
	 
     <!-- ==============================================
     Blog Page Section
     =============================================== -->
     <section class="blogpage jobpost" id="blogpage">
	  <div class="container text-left">
	   <div class="row">
		<div class="col-lg-8 col-lg-offset-2 white-blogpage">

		  <h4>{{blog_details.blog_name}}</h4>
		  <hr class="small-hr">
		  
		 <div class="row post-top-sec animations fade-down d2">
		  <div class="col-lg-3">
		   <h5> Posted </h5>
		   <p>{{blog_details.createdAt | date : "fullDate"}}</p>
		  </div><!-- /.col-lg-3 -->
		  <div class="col-lg-3">
		   <h5> Comments </h5>
		   <p><i class="fa fa-comment-o"></i> 0</p>
		  </div><!-- /.col-lg-3 -->
		  <div class="col-lg-3">
		   <h5> Like(s) </h5>
		   <p><i class="fa fa-heart-o"></i> 0</p>
		  </div><!-- /.col-lg-3 -->
		  <div class="col-lg-3">
		   <h5> Read Time </h5>
		   <p><i class="fa fa-align-left"></i> 0 Min Read</p>
		  </div><!-- /.col-lg-3 -->
		  
		  <div class="col-lg-12">
           <hr class="small-hr">
		  </div> <!-- /.col-lg-12 -->
		 </div><!-- /.row -->
		 		  
		  <p>{{blog_details.long_description}}</p>
		  <blockquote>
		  
		  </blockquote>
		  
		  <h4>Good design goes to heaven, bad design goes everywhere.</h4><br/>
		  <p><img src="img/blog/5.jpg" class="img-responsive" alt="" /></p>
		  <p>Odio laoreet vivendum ex vis. At mentitum assueverit nam, mel ex dolorem tacimates praesent. Saepe nemore duo te, no nec cetero eligendi mnesarchum. Ne congue similique eloquentiam has. Wisi omittantur definitiones vis in.</p>
		  <p>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid. Eos meliore interesset id. Ne has fabellas elaboraret.</p>
		  <p>Ne iriure reprimique vel. Ex alii pericula pri, idque veritus ius id. Etiam doctus aperiam cu mea, vel cibo dicunt ad, vim luptatum delicatissimi eu. Diam mentitum explicari no vim, tantas nominavi eos in. Ei pri omnis verterem antiopam.</p>
		  
		  <h4>Lorem ipsum</h4>
		   <ul class="square">
			<li>Lorem ipsum dolor sit amet, lorem quaestio similique has at, possit vivendum ne nam.</li>
			<li>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et.</li>
			<li>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid.</li>
			<li>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid.</li>
		   </ul>
          
		  <h4>Lorem ipsum</h4>
           <ul class="square">
			<li>Lorem ipsum dolor sit amet, lorem quaestio similique has at, possit vivendum ne nam.</li>
			<li>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et.</li>
			<li>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid.</li>
			<li>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid.</li>
		   </ul>		
		</div><!-- /.col-lg-8 -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
	 </section><!-- /section -->
	 
     	
	 
     <!-- ==============================================
     Comments Section
     =============================================== -->
     <section class="comments">
	  <div class="container text-left">
		 <h3>Comments<span>(3)</span></h3>
	   <div class="row">
	   
	   <div class="col-lg-12 comment revealOnScroll" data-animation="slideInUp" data-timeout="800">
	    <div class="row">
		 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 comment-logo">
		  <a href="#"><img src="img/users/2.png" class="img-responsive" width="65" height="66" alt=""></a>
		 </div>
		 <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 comment-body">
		  <h6>John Doe <a href="#" class="pull-right">Reply</a></h6>
		  <span class="comment-date">16 Feb 16</span>		 
		  <p class="comment-text">Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et. Vivendo ponderum id pro.</p>
		 </div><!-- /.col-lg-10 -->
		</div><!-- /.row -->
	   </div><!-- /.col-lg-12 -->
	   
	   <div class="col-lg-12 comment revealOnScroll" data-animation="slideInUp" data-timeout="800">
	    <div class="row">
		 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-sm-push-2 comment-logo">
		  <a href="#"><img src="img/users/3.png" class="img-responsive" width="65" height="66" alt=""></a>
		 </div>
		 <div class="comment-body-one col-sm-8 col-md-8 col-sm-12 col-xs-12 col-sm-push-2">
		  <h6>John Doe <a href="#" class="pull-right">Reply</a></h6>
		  <span class="comment-date">16 Feb 16</span>		 
		  <p class="comment-text">Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et. Vivendo ponderum id pro.</p>
		 </div><!-- /.col-lg-10 -->
		</div><!-- /.row -->
	   </div><!-- /.col-lg-12 -->
	   
	   <div class="col-lg-12 comment revealOnScroll" data-animation="slideInUp" data-timeout="800">
	    <div class="row">
		 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 comment-logo">
		  <a href="#"><img src="img/users/4.png" class="img-responsive" width="65" height="66" alt=""></a>
		 </div>
		 <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 comment-body">
		  <h6>John Doe <a href="#" class="pull-right">Reply</a></h6>
		  <span class="comment-date">16 Feb 16</span>		 
		  <p class="comment-text">Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et. Vivendo ponderum id pro.</p>
		 </div><!-- /.col-lg-10 -->
		</div><!-- /.row -->
	   </div><!-- /.col-lg-12 -->
		 
	   </div><!--./row -->	 
	  </div><!--./container -->
	 </section><!--./section -->  
	 

	<!-- ==============================================
	Comment Form
	=============================================== -->		 	 
	 
	 <section class="contact">
	  <div class="container">
	   <div class="row">
	   
	   <div class="text-center">
		<h3>Post Comment</h3>
		<hr class="mint">
	   </div>
	   
        <!-- The contactform -->
		<form method="post" name="contactform" id="contactform">
		 <fieldset>
		  <div class="col-lg-6">
           <!-- Name -->
		   <label for="name" accesskey="U"><i class="fa fa-user"></i></label>
		   <input name="name" type="text" id="name" size="30" value="" />
		   
		   <!-- Email -->
		   <label for="email" accesskey="E"><i class="fa fa-envelope-o"></i></label>
		   <input name="email" type="text" id="email" size="30" value="" />
		   
		   <!-- Phone -->
		   <label for="website" accesskey="P"><i class="fa fa-globe"></i></label>
		   <input name="website" type="text" id="website" size="30" value="" />
		  </div>
		  <div class="col-lg-6">
		   <!-- Comments / Message -->
		   <label for="comments" accesskey="C"><i class="fa fa-comment"></i></label>
		   <textarea name="comments" id="comments"></textarea>

		   <!-- Verification -->
		   <label for="verify" accesskey="V">3 * 15 =</label>
		   <input name="verify" type="text" id="verify" size="4" value="" class="input-verify" />
		  </div>
		  <div class="col-lg-12 text-center">
		   <!-- Send button -->
		   <button type="submit" class="kafe-btn kafe-btn-mint full-width">Submit</button>
          </div>
		 </fieldset>
		</form>		
			
	   </div><!--./row -->
	  </div><!--./container -->
	 </section><!--./section -->
</div>