<div ng-init="blogDetails();" ng-controller="MainController">	 
	 <header class="header-blogpage" style="background-image: url({{blog_details.blog_image}}) !important;">
      <div class="container">
	   <div class="content">
       <div class="row">
	    <!-- <h6 class="revealOnScroll" data-animation="fadeInDown"><a href="#">Design</a></h6> -->
		 <h3 class="revealOnScroll" data-animation="slideInRight" data-timeout="200">{{blog_details.blog_name}}</h3>
       </div><!-- /.row -->
      </div><!-- /.content -->
	  </div><!-- /.container -->
     </header><!-- /header -->
	 
     <!-- ==============================================
     Blog Page Section
     =============================================== -->
    
     <section class="blogpage jobpost" id="blogpage">
	  <div class="container text-left">
	   <div class="row">
		<div class="col-lg-8 col-lg-offset-2 white-blogpage">

		  <h4>{{blog_details.blog_name}}</h4>
		  <hr class="small-hr">
		  
		 <div class="row post-top-sec animations fade-down d2">
		  <div class="col-lg-3">
		   <h5> Posted </h5>
		   <p>{{blog_details.createdAt | date : "fullDate"}}</p>
		  </div><!-- /.col-lg-3 -->
		  <div class="col-lg-3">
		   <h5> Comments </h5>
		   <p><i class="fa fa-comment-o"></i> {{comment_count}}</p>
		  </div><!-- /.col-lg-3 -->
		  <div class="col-lg-3">
		   <h5> Like(s) </h5>
		   <p><i class="fa fa-heart-o"></i> 0</p>
		  </div><!-- /.col-lg-3 -->
		  <div class="col-lg-3">
		   <h5> Read Time </h5>
		   <p><i class="fa fa-align-left"></i> 0 Min Read</p>
		  </div><!-- /.col-lg-3 -->
		  
		  <div class="col-lg-12">
           <hr class="small-hr">
		  </div> <!-- /.col-lg-12 -->
		 </div><!-- /.row -->
		 		  
		  <p ng-bind-html="short_description"></p>
		  <br/>
		  <p ng-bind-html="long_description"></p>
		  	
		</div><!-- /.col-lg-8 -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
	 </section><!-- /section -->
	 
     
	 <div ng-show="comment_count>0">
     <!-- ==============================================
     Comments Section
     =============================================== -->
     <section class="comments">
	  <div class="container text-left">
		 <h3>Comments<span>({{comment_count}})</span></h3>
	   <div class="row">

	   	<div ng-repeat="blog_data in blog_comments | orderBy:'date'">
		   <div class="col-lg-12 comment revealOnScroll" data-animation="slideInUp" data-timeout="800">
		    <div class="row">
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 comment-logo">
					<div ng-if="blog_data.image !== ''">
						<img src="/user/thumbs/{{blog_data.image}}" class="img-responsive" width="65" height="66" alt="">
					</div>
					<div ng-if="blog_data.image === ''">
						<img src="/frontend/img/users/2.png" class="img-responsive" width="65" height="66" alt="">
					</div>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 comment-body">
					<h6>{{blog_data.name}}</h6>
					<span class="comment-date">{{blog_data.date | date:'dd MMM yy'}}</span>		 
					<p class="comment-text">{{blog_data.blog_comment}}</p>
				</div><!-- /.col-lg-10 -->
			</div><!-- /.row -->
		   </div><!-- /.col-lg-12 -->
	  	</div>

	   </div><!--./row -->	 
	  </div><!--./container -->
	 </section><!--./section -->
	<!-- ==============================================
	Comment Form
	=============================================== -->		 	
	</div>

	<div ng-show="get_token">
	 <section class="contact">
	  <div class="container">
	   <div class="row">
	   
	   <div class="text-center">
		<h3>Post Comment</h3>
		<hr class="mint">
	   </div>
	   
        <!-- The contactform -->
		<form method="post" name="contactform" id="contactform" ng-submit="doComment(contactform.$valid)" novalidate="novalidate">
		 <fieldset>
		  <div class="col-md-12">
		   <!-- Comments / Message -->
		   <label for="comments" accesskey="C"><i class="fa fa-comment"></i></label>
	  	   <textarea name="comments" id="comments" ng-model="comments" required ng-pattern="/^[a-zA-Z0-9 ]*$/"></textarea>
		   <span class="help-block" ng-show="contactform.comments.$error.required && (!contactform.$pristine || contactform.$submitted)">Please Enter Your Comments</span>
		   <span class="help-block" ng-show="(!contactform.comments.$error.required && (contactform.$pristine || contactform.$submitted)) && contactform.comments.$invalid">Your Comments are incorrect</span>
		  </div>
		  <div class="col-lg-12 text-center">
		   <!-- Send button -->
		   <button type="submit" class="kafe-btn kafe-btn-mint full-width">Submit</button>
          </div>
		 </fieldset>
		</form>		
		
	   </div><!--./row -->
	  </div><!--./container -->
	 </section><!--./section -->
	</div>

</div>