
     <!-- ==============================================
	 Header
	 =============================================== -->	 
	 <header class="header-login">
      <div class="container">
	   <div class="content">
        <div class="row">
	     <h1 class="revealOnScroll" data-animation="fadeInDown"><i class="fa fa-coffee"></i> Change Password</h1>
<!-- 		 <p>New Here? Create Account.</p> -->
        </div><!-- /.row -->
       </div><!-- /.content -->
	  </div><!-- /.container -->
     </header><!-- /header -->
	 
     <!-- ==============================================
     Banner Section
     =============================================== -->
	 <section class="banner-login">
	  <div class="container">
	   <div class="row">
	   
	    <main class="main main-signup col-lg-12">
	     <div class="col-lg-6 col-lg-offset-3 text-center">
		  <div class="form-sign" ng-controller="MainController">

		   <form name="editpassword" ng-submit="change_passwordsave(editpassword.$valid)" method="post" novalidate="novalidate">

		    <div class="form-head">
			 <h3>Change Password</h3>
			</div><!-- /.form-head -->
			
            <div class="form-body">
			<div class="form-row" style="color: #fff;">{{msg}}</div>
             <div class="form-row" ng-class="{
	            'has-error':!editpassword.old_password.$valid && (!editpassword.$pristine || editpassword.$submitted), 
	            'has-success': editpassword.old_password.$valid && (!editpassword.$pristine || editpassword.$submitted)
	            }">
			  <div class="form-controls">
			   <input type="password" name="old_password" ng-model="old_password" required class="field"  placeholder="Old Password">
			   <span class="help-block" ng-show="editpassword.old_password.$error.required && (!editpassword.$pristine || editpassword.$submitted)" style="color: #fff;">Please Enter Old Password</span>
                <span class="help-block" ng-show="editpassword.old_password.$error.password && (!editpassword.$pristine || editpassword.$submitted)" style="color: #fff;">Old Password Not Match</span>

			  </div><!-- /.form-controls -->
             </div><!-- /.form-row -->

		     <div class="form-row" ng-class="{
            'has-error':!editpassword.new_password.$valid && (!editpassword.$pristine || editpassword.$submitted), 
            'has-success': editpassword.new_password.$valid && (!editpassword.$pristine || editpassword.$submitted)
            }">
		      <div class="form-controls">
			   <input type="password" name="new_password" ng-model="new_password" required class="field" placeholder="New Password">
			   <span class="help-block" ng-show="editpassword.new_password.$error.required && (!editpassword.$pristine || editpassword.$submitted)" style="color: #fff;">Please Enter New Password</span>
			  </div><!-- /.form-controls -->
		     </div><!-- /.form-row -->

		     <div class="form-row" ng-class="{
                'has-error':!editpassword.confirm_password.$valid && (!editpassword.$pristine || editpassword.$submitted), 
                'has-success': editpassword.confirm_password.$valid && (!editpassword.$pristine || editpassword.$submitted)
                }">
		      <div class="form-controls">
			   <input type="password" name="confirm_password" ng-model="confirm_password" required class="field" placeholder="Confirm Password">
			   <span class="help-block" ng-show="editpassword.confirm_password.$error.required && (!editpassword.$pristine || editpassword.$submitted)" style="color: #fff;">Please Enter Confirm Password</span>
			  </div><!-- /.form-controls -->
		     </div><!-- /.form-row -->

		    
             </div><!-- /.form-body -->
	
			 <div class="form-foot">
			  <div class="form-actions">
			   <input value="Edit" class="form-btn" type="submit">
			  </div><!-- /.form-actions -->
			 </div><!-- /.form-foot -->
			</form>
		   </div><!-- /.form-sign -->
		  </div><!-- /.shell -->
		 </main>
		
	   </div><!-- /.row -->
	  </div><!-- /.container -->
	 </section><!-- /section -->

