<div >
<header id="header" class="header-two">
      <div class="container">
	   <div class="content">
	   
        <div class="row">
		 <h1 class="name revealOnScroll" data-animation="fadeInDown"><i class="fa fa-coffee"></i> The Kafe.</h1>
		 <p class="temp">The Ultimate Freelance Marketplace Template</p>
         <h1 class="hire revealOnScroll" data-animation="fadeInUp" data-timeout="400">Hire the best freelancers for your work.</h1>
	     <div class="form-row animations scale-in d3">
		  <div class="radio radio-left">
		   <a href="javascript:void(0)">HIRE</a>		  
		  </div>
		  <div class="radio radio-right">
		   <a href="javascript:void(0)">WORK</a>		  
		  </div><!--./radio -->
	 	 </div><!--./form-row -->
        </div><!--./row -->
		
		<div class="row">
		 <div class="col-lg-10 col-lg-offset-1 hidden-xs">
		  <div class="logos">
		   <img src="/frontend/img/featured-logos.png" class="img-responsive" alt=""/>
		   </div>
		  <!--./logos -->
		 </div>
		 <!--./col-lg-10 -->
		</div><!--./row --> 
		
       </div><!--./content -->
	  </div><!--./container -->
</header><!--./header -->

<section id="services" class="services">
	  <div class="container text-center">
	  
	   <div class="row">
	    <div class="col-lg-12">
		 <h3>Browse Freelance Services</h3>
		 <hr class="mint">
		 <p class="top-p">View over 30,000 available services by category.</p>
		 
		 <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="job in jobcategories">
		  <a href="javascript:void(0)" class="hover">
		   <div class="features one" ng-style="{'background-image':'url({{job.image_url}})'}">
		    <span class="fa-stack fa-3x">
			 <i class="fa fa-circle fa-stack-2x"></i>
			 <i class="fa fa-code fa-stack-1x fa-inverse"></i>			
			</span><!-- /span -->
			<h4>{{job.name}}</h4>
		   </div><!-- /.features -->
		   <div class="spacer">
			<p>{{job.short_desc}}</p>
			<p><b>Over 2,000 services</b></p>
		   </div> <!-- /.spacer -->
		  </a>		 
		 </div><!-- /.col-lg-4 -->
		  
		 </div><!-- /.col-lg-12 -->
		</div><!-- /.row -->

	  </div><!-- /.container -->
	 </section><!-- /section -->

	 <section class="banner-comment">
	  <div class="container">
	   <h1>Best way to help world society is to develop a concrete framework for high paying jobs and individual skills enhancements.</h1>
	  </div><!-- /container -->
	 </section><!-- /section -->

	 <section id="stats" class="stats">
	  <div class="container text-center">
		
	   <div class="row">
				
		<div class="col-lg-3 col-sm-6 pro">
		 <h5>Clients</h5>
		 <h1><span class="number-animator" data-value="{{organization[0].client}}" data-animation-duration="800">0</span></h1>
		  <div class="progress transparent progress-small no-radius">
		   <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="{{client_parcentage}}%" ></div>
		  </div><!-- /.progress -->
		</div><!-- /.col-lg-3 -->
				
		<div class="col-lg-3 col-sm-6 pro">
		 <h5>Freelancers</h5>					
		 <h1><span class="number-animator" data-value="{{organization[0].freelancers}}" data-animation-duration="800">0</span></h1>
		  <div class="progress transparent progress-small no-radius">
		   <div class="progress-bar progress-bar-black animated-progress-bar " data-percentage="{{freelancer_parcentage}}%"></div>
		  </div><!-- /.progress -->
		</div><!-- /.col-lg-3 -->
				
		<div class="col-lg-3 col-sm-6 pro">
		 <h5>Jobs Completed</h5>
		 <h1><span class="number-animator" data-value="{{organization[0].jobs_completed}}" data-animation-duration="800">0</span></h1>
		  <div class="progress transparent progress-small no-radius">
		   <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="{{jobs_completed_parcentage}}%"></div>
		  </div><!-- /.progress -->
		</div><!-- /.col-lg-3 -->

	   	<div class="col-lg-3 col-sm-6 pro">
		 <h5>Payed To Freelancers</h5>
		 <h1><i class="fa fa-usd"></i><span class="number-animator" data-value="{{organization[0].payed_to_freelancers}}" data-animation-duration="800">0</span></h1>
		  <div class="progress transparent progress-small no-radius">
		   <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="{{payed_to_freelancers_parcentage}}%"></div>
		  </div><!-- /.progress -->
		</div><!-- /.col-lg-3 -->
				
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </section><!-- /section -->

     <div id="testimonials">
	  <div class="container">  
	   <div class="row">
	   
	   <h3>Testimonials</h3>
	   <hr class="mint">
	   
		<div class="testimonials-slider" testimonial-slider>
		 <ul class="slides">
          <li ng-repeat="t in testimonials">
		   <p>{{t.description}}
		   <span>{{t.ClientName}}</span></p>
		  </li>
         </ul><!-- /ul -->
		</div><!-- /.testimonials-slider -->
	   </div><!-- /.row -->
	  </div><!-- /.container -->
     </div>
 </div>