  <div ng-init="getJobsDetails();">   
     <!-- ==============================================
	 Header
	 =============================================== -->	 
     <header class="header-jobs">
      <div class="container">
	   <div class="content">
	    <div class="row">
		 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		  <a href="login.html" class="kafe-btn kafe-btn-mint full-width revealOnScroll" data-animation="bounceIn" data-timeout="400"><i class="fa fa-tags"></i> Post a Job, It’s Free!</a>
		 </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
       </div><!-- /.content -->
	  </div><!-- /.container -->
     </header><!-- /header -->
	 
     <!-- ==============================================
	 Jobs Section
	 =============================================== -->
     <section class="jobslist">
	  <div class="container-fluid">
	   <div class="row-fluid">
	   
	    <div class="col-lg-4">
		
		 <div class="list">
		  <div class="list-group">
		  
           <span class="list-group-item active cat-top">
            <em class="fa fa-fw fa-coffee text-white"></em>&nbsp;&nbsp;&nbsp;Categories
            <span class="badge">200+</span>
		   </span>
           <a href="" class="list-group-item cat-list" ng-repeat="job_category in jobcategories">
            <em class="fa fa-fw fa-code text-muted"></em>&nbsp;&nbsp;&nbsp;{{job_category.name}}
            <span class="badge text-red-bg">50+</span>
		   </a>
           
          </div><!-- /.list-group -->
		 </div><!-- /.list --> 
		
		 <div class="list">
		  <div class="list-group">
		  
           <span class="list-group-item active cat-top">
            <em class="fa fa-fw fa-coffee text-white"></em>&nbsp;&nbsp;&nbsp;Job Type
		   </span>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle text-muted"></em>&nbsp;&nbsp;&nbsp;Hourly
            <span class="badge text-red-bg">300</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle text-muted"></em>&nbsp;&nbsp;&nbsp;Fixed
            <span class="badge text-red-bg">100</span>
		   </a>
		 
          </div><!-- /.list-group -->
		 </div> <!-- /.list -->	
		
		 <div class="list">
		  <div class="list-group">
		  
           <span class="list-group-item active cat-top">
            <em class="fa fa-fw fa-coffee text-white"></em>&nbsp;&nbsp;&nbsp;Project Length
		   </span>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle-o text-muted"></em>&nbsp;&nbsp;&nbsp;Hours or Days
            <span class="badge text-red-bg">300</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle-o text-muted"></em>&nbsp;&nbsp;&nbsp;Weeks
            <span class="badge text-red-bg">100</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle-o text-muted"></em>&nbsp;&nbsp;&nbsp;Months
            <span class="badge text-red-bg">100</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle-o text-muted"></em>&nbsp;&nbsp;&nbsp;> 6 months
            <span class="badge text-red-bg">100</span>
		   </a>
           <a href="jobs.html" class="list-group-item cat-list">
            <em class="fa fa-fw fa-check-circle-o text-muted"></em>&nbsp;&nbsp;&nbsp;Not Specified
            <span class="badge text-red-bg">100</span>
		   </a>
		 
          </div><!-- /.list-group -->
		 </div><!-- /.list -->	
		 		
		</div><!-- /.col-lg-4 -->
	    <div class="col-lg-8 white">	
		
		 <form action="#" method="get" class="list-search revealOnScroll" data-animation="fadeInDown" data-timeout="200">
		  <button><i class="fa fa-search"></i></button>
		  <input type="text" class="form-control" placeholder="Job title, keywords or company name" value=""/>
		  <div class="clearfix"></div>
		 </form>

		  <h6>We found 100 jobs matching: Web Development & IT</h6>
		 
	 <!--jobs  listing start--> 
      <div ng-repeat="jbs in jobs_data">
		 <div class="job">	
		  
		  <div class="row top-sec">
		   <div class="col-lg-12">
			<div class="col-lg-2 col-xs-12">
			 <!-- <a href="freelancer.html"> -->
			 <a href="#">
			  <img class="img-responsive" src="/frontend/img/users/1.png" alt="">
			  <!-- <img class="img-responsive" src="/vendor/thumbs/Jellyfish.jpg" alt=""> -->
			 </a>
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-10 col-xs-12"> 
			 <h4><a href="jobpost.html">{{jbs.title}}</a></h4>
			 <h5>{{jbs.user.fname}}&nbsp;<small>{{jbs.user.email}}</small></h5>
			</div><!-- /.col-lg-10 -->
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row mid-sec">			 
		   <div class="col-lg-12">			 
		   <div class="col-lg-12">
			<hr class="small-hr">
			<p> {{jbs.description}}</p>
			 <div class="col-md-12">
				<div ng-repeat="skl in jbs.job_skill_list" class="col-md-1">
				  <span class="label label-success">{{skl.name}}</span>
				</div>
			 </div>
			<!-- <span class="label label-success">CSS3</span>
			<span class="label label-success">PHP 5.4</span>
			<span class="label label-success">Mysql</span>
			<span class="label label-success">Bootstrap</span> -->
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row bottom-sec">
		   <div class="col-lg-12">
			
			<div class="col-lg-12">
			 <hr class="small-hr">
			</div> 
			
			<div class="col-lg-2">
			 <h5> Posted </h5>
			 <p>4 Hours Ago</p>
			</div>
			<div class="col-lg-2">
			 <h5> Location </h5>
			 <p><i class="fa fa-map-marker"></i>{{country_name[0].country.name}}</p>
			</div>
			<div class="col-lg-2">
			 <h5> Budget </h5>
			 <p>{{jbs.budget}}</p>
			</div>
			<div class="col-lg-2">
			 <h5> Applicants </h5>
			 <p>{{jbs.no_of_applicant}}</p>
			</div>
			<div class="col-lg-4">
			 <a href="jobpost.html" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-align-left"></i> Send Proposal</a>
			</div>
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		 
		 </div><!-- /.job -->

		 </div>
	 <!--jobs listing end-->


		 <div class="job">	
		  
		  <div class="row top-sec">
		   <div class="col-lg-12">
			<div class="col-lg-2 col-xs-12">
			 <a href="freelancer.html">
			  <img class="img-responsive" src="img/users/2.png" alt="">
			 </a>
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-10 col-xs-12"> 
			 <h4><a href="jobpost.html">I need an architect for exterior design of a duplex house.</a></h4>
			 <h5>Co-Founder and CEO of <a href="http://www.themashabrand.com/" target="_blank">The Masha Brand</a></h5>
			</div><!-- /.col-lg-10 -->
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row mid-sec">			 
		   <div class="col-lg-12">			 
		   <div class="col-lg-12">
			<hr class="small-hr">
			<p>Design details: Ultra modern 3D for both interior and exterior of the duplex house. The design must be STRIKING visually without necessarily being expensive. Orbiting view is welcomed but not mandatory. Ideas for the visual style: must be ultra modern without being necsessarily expensive...</p>
			<span class="label label-success">Design</span>
			<span class="label label-success">3D Modelling</span>
			<span class="label label-success">Architect Design</span>
			<span class="label label-success">Ultra modern Designs</span>
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row bottom-sec">
		   <div class="col-lg-12">
			
			<div class="col-lg-12">
			 <hr class="small-hr">
			</div> 
			
			<div class="col-lg-2">
			 <h5> Posted </h5>
			 <p>4 Hours Ago</p>
			</div>
			<div class="col-lg-2">
			 <h5> Location </h5>
			 <p><i class="fa fa-map-marker"></i> Kenya</p>
			</div>
			<div class="col-lg-2">
			 <h5> Budget </h5>
			 <p>$1000</p>
			</div>
			<div class="col-lg-2">
			 <h5> Applicants </h5>
			 <p>5</p>
			</div>
			<div class="col-lg-4">
			 <a href="jobpost.html" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-align-left"></i> Send Proposal</a>
			</div>
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		 
		 </div><!-- /.job -->
		 
		 <div class="job">	
		  
		  <div class="row top-sec">
		   <div class="col-lg-12">
			<div class="col-lg-2 col-xs-12">
			 <a href="freelancer.html">
			  <img class="img-responsive" src="img/users/3.png" alt="">
			 </a>
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-10 col-xs-12"> 
			 <h4><a href="jobpost.html">1 or 2 max minute software product promotion video.</a></h4>
			 <h5>Co-Founder and CEO of <a href="http://www.themashabrand.com/" target="_blank">The Masha Brand</a></h5>
			</div><!-- /.col-lg-10 -->
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row mid-sec">			 
		   <div class="col-lg-12">			 
		   <div class="col-lg-12">
			<hr class="small-hr">
			<p>Need to create promotional video for our software product with background voice with foreign English accent. The video can be 1 or max. 2 minutes in length. 90% will be about product demo and 10% about company. Price is not negotiable...</p>
			<span class="label label-success">Photoshop</span>
			<span class="label label-success">Design</span>
			<span class="label label-success">Graphic Design</span>
			<span class="label label-success">Abobe Ilustrator</span>
			<span class="label label-success">Video Edit</span>
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row bottom-sec">
		   <div class="col-lg-12">
			
			<div class="col-lg-12">
			 <hr class="small-hr">
			</div> 
			
			<div class="col-lg-2">
			 <h5> Posted </h5>
			 <p>4 Hours Ago</p>
			</div>
			<div class="col-lg-2">
			 <h5> Location </h5>
			 <p><i class="fa fa-map-marker"></i> Kenya</p>
			</div>
			<div class="col-lg-2">
			 <h5> Budget </h5>
			 <p>$100</p>
			</div>
			<div class="col-lg-2">
			 <h5> Applicants </h5>
			 <p>30</p>
			</div>
			<div class="col-lg-4">
			 <a href="jobpost.html" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-align-left"></i> Send Proposal</a>
			</div>
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
			 
		 </div><!-- /.job -->	 
		 
		 <div class="job">	
		  
		  <div class="row top-sec">
		   <div class="col-lg-12">
			<div class="col-lg-2 col-xs-12">
			 <a href="freelancer.html">
			  <img class="img-responsive" src="img/users/4.png" alt="">
			 </a>
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-10 col-xs-12"> 
			 <h4><a href="jobpost.html">SEO Copyediting for Website.</a></h4>
			 <h5>Co-Founder and CEO of <a href="http://www.themashabrand.com/" target="_blank">The Masha Brand</a></h5>
			</div><!-- /.col-lg-10 -->
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row mid-sec">			 
		   <div class="col-lg-12">			 
		   <div class="col-lg-12">
			<hr class="small-hr">
			<p>We have the contents ready and would only need help to optimise it for SEO. You do not need to work on contents from scratch. It would also help greatly if you have the SEO expertise and can advise us on how to maximise the copy...</p>
			<span class="label label-success">SEO</span>
			<span class="label label-success">Copy Editing</span>
			<span class="label label-success">Fast Typing</span>
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row bottom-sec">
		   <div class="col-lg-12">
			
			<div class="col-lg-12">
			 <hr class="small-hr">
			</div> 
			
			<div class="col-lg-2">
			 <h5> Posted </h5>
			 <p>4 Hours Ago</p>
			</div>
			<div class="col-lg-2">
			 <h5> Location </h5>
			 <p><i class="fa fa-map-marker"></i> Kenya</p>
			</div>
			<div class="col-lg-2">
			 <h5> Budget </h5>
			 <p>$600</p>
			</div>
			<div class="col-lg-2">
			 <h5> Applicants </h5>
			 <p>30</p>
			</div>
			<div class="col-lg-4">
			 <a href="jobpost.html" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-align-left"></i> Send Proposal</a>
			</div>
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		 
		 </div><!-- /.job -->	 
		 
		 <div class="job">	
		  
		  <div class="row top-sec">
		   <div class="col-lg-12">
			<div class="col-lg-2 col-xs-12">
			 <a href="freelancer.html">
			  <img class="img-responsive" src="img/users/5.png" alt="">
			 </a>
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-10 col-xs-12"> 
			 <h4><a href="jobpost.html">I need my current WordPress plugin UX updated (mock up, etc.).</a></h4>
			 <h5>Co-Founder and CEO of <a href="http://www.themashabrand.com/" target="_blank">The Masha Brand</a></h5>
			</div><!-- /.col-lg-10 -->
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row mid-sec">			 
		   <div class="col-lg-12">			 
		   <div class="col-lg-12">
			<hr class="small-hr">
			<p>I have a fully functioning WordPress plugin. It is quite rough looking though. I need it too look more polished...</p>
			<span class="label label-success">Wordpress</span>
			<span class="label label-success">Plugins</span>
		   </div><!-- /.col-lg-12 -->
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		  
		  <div class="row bottom-sec">
		   <div class="col-lg-12">
			
			<div class="col-lg-12">
			 <hr class="small-hr">
			</div> 
			
			<div class="col-lg-2">
			 <h5> Posted </h5>
			 <p>2 Hours Ago</p>
			</div>
			<div class="col-lg-2">
			 <h5> Location </h5>
			 <p><i class="fa fa-map-marker"></i> Kenya</p>
			</div>
			<div class="col-lg-2">
			 <h5> Budget </h5>
			 <p>$300</p>
			</div>
			<div class="col-lg-2">
			 <h5> Applicants </h5>
			 <p>10</p>
			</div>
			<div class="col-lg-4">
			 <a href="jobpost.html" class="kafe-btn kafe-btn-mint-small"><i class="fa fa-align-left"></i> Send Proposal</a>
			</div>
			
		   </div><!-- /.col-lg-12 -->
		  </div><!-- /.row -->
		 
		 </div><!-- /.job -->		 	 
		 
		 <div class="page text-center">
		  <ul class="pagination">
		   <li class="disabled"><a href="#">«</a></li>
		   <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
		   <li><a href="#">2</a></li>
		   <li><a href="#">3</a></li>
		   <li><a href="#">4</a></li>
		   <li><a href="#">5</a></li>
		   <li><a href="#">»</a></li>
		  </ul><!-- /.pagination -->
		 </div><!-- /.page -->
		 
	    </div><!-- /.col-lg-8 -->
	   </div><!-- /.row -->
	  </div><!-- /.container-fluid -->
     </section><!-- /section --> 

     </div> 	 		
