<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
       <!-- Brand and toggle get grouped for better mobile display -->
	   <a class="navbar-brand"><i class="fa fa-coffee"></i>Market Place</a>
       <input type="checkbox" id="toggle" />
	   <label for="toggle" class="toggle"></label>

       <!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="menu">
		 <li><a href="/" _target="_self">Home</a>
		  
		 </li> 	
		 <li><a href="/about" _target="_self">About</a></li>
		 <li><a href="/faq" _target="_self">Faq</a></li>
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="/jobs">Jobs</a></li>
		   <li><a href="jobpost.html">Job Post</a></li>
		  </ul>
		 </li>
		 <li><a href="/work-details" _target="_self">How It Works</a></li>   
		 <!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Freelancers <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="services.html">Services</a></li>
		   <li><a href="servicepage.html">Service Page</a></li>
		   <li><a href="freelancer.html">Freelancer Profile</a></li>
		  </ul>
		 </li>  -->
		 <!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">How it works <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="how-1.html">How #1</a></li>
		   <li><a href="how-2.html">How #2</a></li>
		  </ul>
		 </li>  -->
		 <li><a href="login.html">Login</a></li>
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Register <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		   <li><a href="/signup">Sign Up</a></li>
		  </ul>
		 </li> 
		 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    <li><a href="contact.html">Contact</a></li>
			<li><a href="/blog">Blog</a></li>
		  </ul>
		 </li> 	
		</ul><!-- /.ul.menu -->
      </div><!-- /.container -->
     </nav><!-- /.nav -->