<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> 
<!--<![endif]-->

<body>
	 
     <!-- ==============================================
	 Header
	 =============================================== -->	 
	 <header class="header-login">
      <div class="container">
	   <div class="content">
        <div class="row">
	     <h1 class="revealOnScroll" data-animation="fadeInDown"><i class="fa fa-coffee"></i> Register</h1>
		 <p>New Here? Create Account.</p>
        </div><!-- /.row -->
       </div><!-- /.content -->
	  </div><!-- /.container -->
     </header><!-- /header -->
	 
     <!-- ==============================================
     Banner Section
     =============================================== -->

	 <section class="banner-login">
	  <div class="container">
	   <div class="row">
	     
	     

	    <main class="main main-signup col-lg-12">
	      
	     <div class="col-lg-6 col-lg-offset-3 text-center">
		  <div class="form-sign" ng-controller="MainController">
		   <form name="myRegistration" ng-submit="doRegister(myRegistration.$valid)" method="post" novalidate="novalidate">
		    <div class="form-head">
			 <h3>Register</h3>
			</div><!-- /.form-head -->
			
            <div class="form-body">
			
             <div class="form-row" ng-class="{
	            'has-error':!myRegistration.myEmail.$valid && (!myRegistration.$pristine || myRegistration.$submitted), 
	            'has-success': myRegistration.myEmail.$valid && (!myRegistration.$pristine || myRegistration.$submitted)
	            }">
			  <div class="form-controls">
			   <input type="email" name="myEmail" ng-model="myEmail" required class="field"  placeholder="Email Address">
			   <span class="help-block" ng-show="myRegistration.myEmail.$error.required && (!myRegistration.$pristine || myRegistration.$submitted)" style="color: #fff;">Please Enter Email ID</span>
                <span class="help-block" ng-show="myRegistration.myEmail.$error.email && (!myRegistration.$pristine || myRegistration.$submitted)" style="color: #fff;">Please Enter Valid Email ID</span>
			  </div><!-- /.form-controls -->
             </div><!-- /.form-row -->

		     <div class="form-row" ng-class="{
            'has-error':!myRegistration.myFisrtname.$valid && (!myRegistration.$pristine || myRegistration.$submitted), 
            'has-success': myRegistration.myFisrtname.$valid && (!myRegistration.$pristine || myRegistration.$submitted)
            }">
		      <div class="form-controls">
			   <input type="text" name="myFisrtname" ng-model="myFisrtname" required class="field" placeholder="User first name">
			   <span class="help-block" ng-show="myRegistration.myFisrtname.$error.required && (!myRegistration.$pristine || myRegistration.$submitted)" style="color: #fff;">Please Enter First Name</span>
			  </div><!-- /.form-controls -->
		     </div><!-- /.form-row -->

		     <div class="form-row" ng-class="{
                'has-error':!myRegistration.myLastname.$valid && (!myRegistration.$pristine || myRegistration.$submitted), 
                'has-success': myRegistration.myLastname.$valid && (!myRegistration.$pristine || myRegistration.$submitted)
                }">
		      <div class="form-controls">
			   <input type="text" name="myLastname" ng-model="myLastname" required class="field" placeholder="User last name">
			   <span class="help-block" ng-show="myRegistration.myLastname.$error.required && (!myRegistration.$pristine || myRegistration.$submitted)" style="color: #fff;">Please Enter Last Name</span>
			  </div><!-- /.form-controls -->
		     </div><!-- /.form-row -->
			 
             <div class="form-row" ng-class="{
                'has-error':!myRegistration.myPassword.$valid && (!myRegistration.$pristine || myRegistration.$submitted), 
                'has-success': myRegistration.myPassword.$valid && (!myRegistration.$pristine || myRegistration.$submitted)
                }">
			  <div class="form-controls">
			   <input type="password" name="myPassword" ng-model="myPassword" class="field" placeholder="Password" ng-minlength="8" required>
			   <span class="help-block" ng-show="myRegistration.myPassword.$error.required && (!myRegistration.$pristine || myRegistration.$submitted)" style="color: #fff;">Please Enter Password</span>
			   <span class="help-block" ng-show="myRegistration.myPassword.$error.minlength && (!myRegistration.$pristine || myRegistration.$submitted)" style="color: #fff;">Password must be 8 chararcter long</span>
			  </div><!-- /.form-controls -->
             </div><!-- /.form-row -->

			 <div class="form-row" ng-class="{
                'has-error':!myRegistration.myPassword_confirm.$valid && (!myRegistration.$pristine || myRegistration.$submitted), 
                'has-success': myRegistration.myPassword_confirm.$valid && (!myRegistration.$pristine || myRegistration.$submitted)
                }">
			  <div class="form-controls">
			   <input type="password" name="myPassword_confirm" ng-model="myPassword_confirm" class="field" placeholder="Confirm Password" required="" ng-match="myPassword">
			   <span class="help-block ng-hide" ng-show="myRegistration.myPassword_confirm.$error.required && (!myRegistration.$pristine || myRegistration.$submitted)" style="color: #fff;">Please Enter Confirm Password</span>

			   <span class="help-block" ng-show="myRegistration.myPassword_confirm.$error.match && (!myRegistration.$pristine || myRegistration.$submitted)" style="color: #fff;">Passwords do not match</span>

			  </div><!-- /.form-controls -->
             </div><!-- /.form-row -->
		   
			 </div><!-- /.form-body -->
	
			 <div class="form-foot">
			  <div class="form-actions">
			   <input value="Register" class="form-btn" type="submit">
			  </div><!-- /.form-actions -->
			 </div><!-- /.form-foot -->
			</form>
		   </div><!-- /.form-sign -->
		  </div><!-- /.shell -->
		 </main>
		
	   </div><!-- /.row -->
	  </div><!-- /.container -->
	 </section><!-- /section -->
	
     

</body>

<!-- Mirrored from themashabrand.com/templates/Kafe/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Aug 2017 08:43:01 GMT -->
</html>
