<section class="content-header">
  <h1>
    Section
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li class="active">Job Category - Edit</li>
  </ol>
</section>

<section class="content">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              
              <li class="active"><a href="#settings" data-toggle="tab">Job Category - Edit</a></li>
            </ul>
            <div class="tab-content">
            	
              	{{#if error_message}}
              	<div class="alert alert-danger" id="result77">
              	{{error_message}}
              	</div>
              	{{/if}}
               <div class="tab-pane active" id="settings">
                <form name="frmProfile" method="post" action="/admin/job-category/edit/{{job_category.id}}" class="form-horizontal" onsubmit="return validatejobcategory()">
                  
                  <div class="form-group ">
                    <label for="name" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="job_category_name" placeholder="Enter Section Name" name="name" value="{{job_category.name}}" onkeyup="return jobcatckhnameval(this.value)">
                      <span class="text-danger"></span>
                      <div class="alert alert-danger fade in alert-dismissable" id="job_category_name_error" style="display:none; margin-top:5px;">
                      </div>
                    </div>
                  </div>

                  <div class="form-group ">
                    <label for="remarks" class="col-sm-2 control-label">Status</label>

                    <div class="col-sm-10">
                      <select name="status" id="job_category_status" class="form-control" onchange="jobcatckhstatusval(this.value)">
                        <option value="" disabled="disabled">Select Any</option>
                        <option value="1" {{#if_eq job_category.status 1 }} selected="selected" {{/if_eq}}>Active</option>
                        <option value="0" {{#if_eq job_category.status 0 }} selected="selected" {{/if_eq}}>In-Active</option>
                      </select>
                      <span class="text-danger"></span>
                      <div class="alert alert-danger fade in alert-dismissable" id="job_category_status_error" style="display:none; margin-top:5px;">
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

</section>